<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ScopeIndia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ScopeIndia.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-0">
            <div class="container-fluid">
                <div style="position:absolute; left:48%" class="scopeLogo"><a class="navbar-brand" asp-area="" asp-controller="WebHome" asp-action="Home"><img src="~/images/scope-india-logo-bird.png"></a></div>
                <button style="background-color:#071E67;" type="button">
                    <img src="~/images/menu-bar (2).png" class="menuButton" src="~/Images/menu-bar.png" height="30px" width="30px" />
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between menuBar">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("UserEmail") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="WebHome" asp-action="Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="WebHome" asp-action="AboutUs">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="WebHome" asp-action="StudentDashboard">Dashboard</a>
                            </li>
                            <li class="nav-item login-out">
                                <a class="nav-link text-white" asp-area="" asp-controller="WebHome" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="WebHome" asp-action="Home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="WebHome" asp-action="AboutUs">About Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="WebHome" asp-action="Contact">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="WebHome" asp-action="Registration">Registration</a>
                            </li>
                            <li class="nav-item login-out">
                                <a class="nav-link text-white" asp-area="" asp-controller="WebHome" asp-action="Login">Login</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    <footer>
        <div>
                <img src="~/Images/snowpark-footer-logo.png" class="img1" />
            <p>Technopark TVM | Thampanoor TVM | Kochi, Kerala | Nagercoil Tamil Nadu</p>
        </div>
        <div>
            <img src="~/Images/iso_iaflogo.png" class="img2" />
            <p>An ISO 9001:2015 Certified Company</p>
            <p>All Rights Suffix E Solutions &copy; 2007-2025</p>
        </div>
        <div>
            <span>9745936073(TPK)</span>
            <span>7592939481(EKM)</span>
            <span>8075536185(NGL)</span>
            <span>info@scopeindia.org</span>
        </div>
    </footer>

    <div class="chatWithUs" id="chatWithUs">
        <a href="https://wa.me/9745936073" target="_blank">
            <img src="~/Images/whatsapp.png" alt="WhatsApp" class="whatsapp-icon" />
        </a>
    </div>

  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  
</body>
</html>
