@model ScopeIndia.Models.ContactModel
<div class="text-center mt-5">
    <div>
        <div class="container bg-success h-50 w-50">
            <form asp-controller="WebHome" asp-action="Contact" method="post" class="pt-3 pb-3">
                <fieldset>
                    <legend>Contact Us</legend>
                    <div class="form-floating mx-auto">
                        <input asp-for="UserName" class="form-control col-6" id="UserName"/>
                        <label asp-for="UserName" class="form-label col-6">Name</label>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <br/>

                    <div class="form-floating mx-auto">
                        <input asp-for="UserEmail" class="form-control col-6" id="UserEmail"/>
                        <label asp-for="UserEmail" class="form-label col-6">Email</label>
                        <span asp-validation-for="UserEmail" class="text-danger"></span>
                    </div>
                    <br/>

                    <div class="form-floating mx-auto">
                        <input asp-for="Subject" class="form-control col-6" id="Subject"/>
                        <label asp-for="Subject" class="form-label col-6">Subject</label>
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <br/>

                     <div class="form-floating mx-auto">
                        <input asp-for="Message" class="form-control col-6" id="Message"/>
                        <label asp-for="Message" class="form-label col-6">Message</label>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                    <br/>

                    <button class="btn btn-outline-primary" type="submit" id="submit">
                        Send Mail
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}
