
@if (ViewBag.ValidEmail != null)
{
    <div id="viewbagAlert" class="alert alert-success text-center">
        @ViewBag.ValidEmail
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" aria-label="Close" onclick="closeViewBagMessage()"></button>
    </div>
}
@if (ViewBag.ErrorMessage != null)
{
    <div id="viewbagAlert" class="alert alert-success text-center">
        @ViewBag.ErrorMessage
        <button type="button" class="btn-close position-absolute top-0 end-0 m-2" aria-label="Close" onclick="closeViewBagMessage()"></button>
    </div>
}


<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 12px;">
        <h3 class="text-center" style="color: #005bb5;">Enter Email</h3>
        <form asp-controller="WebHome" asp-action="FirstTimeLogin" method="post">
            @if (ViewBag.ErrorMessage != null)
            {
                <h6 id="errorMessage" class="text-danger">@ViewBag.ErrorMessage</h6>

                <script>
                    setTimeout(function () {
                        document.getElementById("errorMessage").style.display = "none";
                    }, 3000)
                </script>
            }
            <div class="mb-3">
                <input name="email1" class="form-control" placeholder="Enter your email" />
                <label for="email1" class="form-label"></label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn w-100" style="background-color: #005bb5; color: white;">Submit</button>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}
