
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-4" style="width: 400px; border-radius: 12px;">
        <h3 class="text-center" style="color: #005bb5;">OTP Verification</h3>
        <form asp-controller="WebHome" asp-action="OtpVerification" method="post">
            <div class="mb-3">
                <input name="otp" class="form-control" placeholder="Enter OTP" />
                <label for="otp" class="form-label"></label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn w-100" style="background-color: #005bb5; color: white;">Verify</button>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}
