
<div>
    <div class="text-center mt-5">
        <div class="container bg-success h-50 w-50  pb-3">
            <form asp-controller="WebHome" asp-action="OtpVerification" method="post">
                <fieldset>
                    <legend>OTP Verification</legend>
                    <div>
                        <input name="otp" class="form-control" />
                        <label for="otp" class="form-label">OTP</label>
                    </div>
                    <br />
                    <br />

                    <button type="submit">Verify</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
}
