@model ScopeIndia.Models.StudentModel
<div >
    <div class="text-center mt-5">
        <div class="container bg-success h-50 w-50  pb-3">
            <form asp-controller="WebHome" asp-action="Registration" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Student Registration</legend>
                    <div class="form-floating mx-auto ">
                        <input asp-for="FirstName" class="form-control col-6" id="FirstName" />
                        <label asp-for="FirstName" class="form-label">First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-floating mx-auto">
                        <input asp-for="LastName" class="form-control col-6" id="LastName" />
                        <label asp-for="LastName" class="form-label">Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="text-start">
                       
                        <label asp-for="Gender" class="fw-bold">Gender:</label>
                        <input type="radio" asp-for="Gender" id="Male" value="male" class="form-check-input">
                        <label asp-for="Gender" class="form-check-label">Male</label>
                        <input type="radio" asp-for="Gender" id="Female" value="female" class="form-check-input">
                        <label asp-for="Gender" class="form-check-label">Female</label>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                    <br />
                        
                    <div class="form-floating mx-auto">
                        <input asp-for="DOB" class="form-control col-6" id="DOB" type="date"/>
                        <label asp-for="DOB" class="form-label ">Date of Birth</label>
                        <span asp-validation-for="DOB" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-floating mx-auto">
                        <input asp-for="Email" class="form-control col-6" id="Email" />
                        <label asp-for="Email" class="form-label">E-mail</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="form-floating mx-auto">
                        <input asp-for="PhNo" class="form-control col-6" id="PhNo" />
                        <label asp-for="PhNo" class="form-label ">Phone Number</label>
                        <span asp-validation-for="PhNo" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="text-start">
                        <label asp-for="Country" class="form-label fw-bold">Country:</label>
                        <select asp-for="Country" id="Country" style="height:25px; width:160px;"></select> <br>              
                    </div>
                    <br />

                    <div class="text-start">
                        <label asp-for="State" class="form-label  fw-bold">State:</label>
                        <select asp-for="State" id="State" style="height:25px; width:160px; margin-left:23px;"></select>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <br />

                    <div class="text-start">
                        <label asp-for="City" class="form-label  fw-bold">City:</label>
                        <select asp-for="City" id="City" style="height:25px; width:160px; margin-left:29px;"></select>
                    </div>
                    <br />

                    <div class="text-start d-flex form-group">
                        <label asp-for="Hobbies" class="form-label fw-bold">Hobbies:&nbsp;&nbsp;</label><br />
                        <div>
                            <div>
                                <input type="checkbox" name="Hobbies" id="sports" value="Sports" class="form-check-input" />
                                <label for="sports" class="form-check-label">Sports</label>
                            </div>
                            <div>
                                <input type="checkbox" name="Hobbies" id="books" value="Reading Books" class="form-check-input" />
                                <label for="books" class="form-check-label">Reading Books</label>
                            </div>
                            <div>
                                <input type="checkbox" name="Hobbies" id="movies" value="Watching Movies" class="form-check-input" />
                                <label for="movies" class="form-check-label">Watching Movies</label><br />
                            </div>
                        </div>
                        &nbsp;&nbsp;
                        <div>
                            <div>
                                <input type="checkbox" name="Hobbies" id="Travel" value="Traveling" class="form-check-input" />
                                <label for="Travel" class="form-check-label">Traveling</label>
                            </div>
                            <div>
                                <input type="checkbox" name="Hobbies" id="music" value="Listening to Music" class="form-check-input" />
                                <label for="music" class="form-check-label">Listening to Music</label>
                            </div>
                            <div>
                                <textarea asp-for="Hobbies" name="Hobbies" id="OtherHobbies" rows="1" cols="15" placeholder="Specify others" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="Hobbies" class="text-danger text-start"></span><br/>

                    <input type="file" asp-for="Avatar" name="avatar"/>
                    <span asp-validation-for="Avatar" class="text-danger text-start"></span>
                    <br />
                    <br />
                    <br />

                    <button class="btn btn-outline-primary btn-primary btn-lg text-white" type="submit" id="submit" onclick="RegistrationSuccessMsg()">
                        Register
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@section Scripts 
{
    @await Html.PartialAsync("/Views/Shared/_ValidationScriptsPartial.cshtml")
    <script>
        function RegistrationSuccessMsg()
        {
            if (ModelState.Isvalid) 
            {
                alert("Registration submitted successfully!");
            }
            else
                alert("unable to register!!");
        }
    </script>

}
