
* {
    margin:0px;
    scroll-behavior:smooth;
}

.scopeLogo {


}
.menuBar {
    position: absolute;
    right: 25px;
}
.navbar {
    height: 100px;
    background-color: #071E67;

}
.background1 {
    width:1092px;
    overflow:hidden;
}
body {
    background-image: url('../Images/slider_bg.jpg');
    background-repeat: no-repeat;

    background-position: center;
}
.abtH1 {
    color: #fbba02;
    font: 55px Viga;
    margin: 0px 0px 15px;
    font-size: 55px;
    line-height: 65px;
    font-weight: 500;
    letter-spacing: 0px;
}
.abtH2 {
    color: #ffffff;
    font: 34px Viga;
    margin: 0px 0px 15px;
}
.abtP1 {
    color: #ffffff;
    font: 15px Poppins,Arial,Tahoma,sans-serif;
    margin: 0px 0px 15px;
}
.abtP2 {
    color: #ffffff;
    font: 15px Poppins,Arial,Tahoma,sans-serif;
    margin: 0px 0px 15px;
}
.abtStar {
    height: 119px;
    width: 312px;
}
.navbar {
    height:60px;
    margin-bottom:0px;
}
h6{
    background-color: #ffc107;
    width: 100%;
    color: #dc3545;
    padding-left:50px;
}
.chatWithUs {
    position: fixed;
    right: 30px;
    bottom: 30px;

}
.chatWithUs :active{
    height:40px;
    width:40px;
}
.hover-comment {
    display: none;
    position: absolute;
    bottom: 10px;
    left: -52px;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}
.chatWithUs:hover .hover-comment {
    display: revert-layer;
}
.menu-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-item li {
    margin: 0 15px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    transition: 0.3s;
}

.nav-item a:hover {
    background-color: #005bb5;
    border-radius: 5px;
}
.login-out {
    border: 1px solid #005bb5;
    border-radius: 5px;
}
footer {
    background-color: #071E67;
    color: #fff;
    padding: 30px 10px;
    display: flex;
    text-align: center;
    display: block;
    bottom:0px;
}

footer div {
    flex: 1;
    min-width: 250px;
    padding: 15px;
}

footer .img1 {
    max-width: 700px;
    max-height:150px;
    margin-bottom: 10px;
}

footer .img2 {
    max-width: 400px;
    min-width:100px;
    margin-bottom: 10px;

}
footer p, footer span {
    font-size: 14px;
    margin: 5px 0;
    transition: color 0.3s ease-in-out;
}
footer p {
    color: #bbc2d5;
}

footer span {
    font-weight: bold;
    cursor: pointer;
    padding-right: 20px;
}
footer span:hover {
    text-decoration: underline;
    color: #f8b400;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
    .scopeLogo {
        left: 5px;
    }
}

